!!!
%html
  %head
    %title Brandon Hilkert [dot] com
    %meta{property: "desription", content: "I'm a Technology Entrepreneur and have a passion for building something from nothing. I'm motivated by people with purpose and ambition that have a continuing drive to learn and succeed."}
    %link{:rel => "shortcut icon", href: "favicon.ico"}
    %link{:rel => "stylesheet", :type => "text/css", href: "style.css"}
    %link{:rel => "stylesheet", :type => "text/css", href: "bootstrap-tooltip.css"}
    %link{:rel => "stylesheet", :type => "text/css", href: "http://fonts.googleapis.com/css?family=Open+Sans"}
    %link{:rel => "stylesheet", :type => "text/css", href: "http://fonts.googleapis.com/css?family=Lobster"}
    %link{:rel => "stylesheet", :type => "text/css", href: "http://fonts.googleapis.com/css?family=Cabin+Sketch"}
    %script{src: "http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"}
    %script{src: "bootstrap-tooltip.js"}
    
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-24469169-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

      $(function(){
        $("img[rel='popover']").popover({placement: 'top'});
      });
  %body
    .centered
      #heading.rounded
        .picture
          %img{src: "brandonhilkert.jpg", class: "drop-shadow rounded"}
          %br
          %a{href: "http://www.linkedin.com/in/brandonhilkert", target: "_blank"}
            %img{src: "linkedin.png"}
          %a{href: "http://www.twitter.com/brandonhilkert", target: "_blank"}
            %img{src: "twitter.png"}          
          %a{href: "https://github.com/brandonhilkert", target: "_blank"}
            %img{src: "github.png"}
        .text
          %h1 Brandon Hilkert
          %div
            Co-founder at 
            %a{href: "http://meeteor.com", target: "_blank"} Meeteor
            %br
            %br
            I'm a Technology Entrepreneur and have a passion for building something from nothing. 
            I'm motivated by people with purpose and ambition that have a continuing drive to learn and succeed.
            I tend to use Ruby, Rails, MongoDB, MySQL, Heroku, EC2, Javascript, jQuery, HTML, and CSS.
          %br.clear
        %br.clear
      #sites.rounded
        %table.sites-table
          %tbody
            %tr
              %td
                %img{src: "meeteor.png", rel: "popover", data: {content: "Meeteor is a professional networking service built on top of Facebook that connects you to the employers and industries you're interested in.", "original-title" => "Meeteor"}}
                %br
                
                %a{href: "http://meeteor.com", target: "_blank"}
                  %h3 Meeteor

              %td
                %img{src: "defriendnotifier.png", rel: "popover", data: {content: "Defriend Notifier notifies you when someone defriends you on Facebook!", "original-title" => "Defriend Notifier"}}
                %br
                
                %a{href: "http://defriendnotifierapp.com", target: "_blank"}
                  %h3 Defriend Notifier
                
              
              %td
                %img{src: "stradl.png", rel: "popover", data: {content: "Stradl is a management platform to streamline targeted advertising campaigns for digital signage", "original-title" => "Stradl"}}
                %br
                
                %h3 Stradl
                
            %tr
              %td
                %a{href: "http://shopitshareit.com", target: "_blank"}
                  %img{src: "sisi.png", rel: "popover", data: {content: "Shop it. Share it. is a social network focused around shopping and the sharing of fashion related purchases", "original-title" => "Shop it. Share it."}}
                %br
                
                %a{href: "http://shopitshareit.com", target: "_blank"}
                  %h3 Shop it. Share it.
                
              %td
                %img{src: "databanks.png", rel: "popover", data: {content: "Databanks is a marketplace where consumers buy and sell industry data", "original-title" => "Databanks"}}
                %br
                
                %h3 Databanks

              %td
                %img{src: "helpdesk.png", rel: "popover", data: {content: "Simple Helpdesk is a simplified helpdesk management system with analytics and ticket monitoring", "original-title" => "Simple Helpdesk"}}
                %br
                
                %h3 Simple Helpdesk
            
            %tr
              %td
                %a{href: "http://bigbluesound.com", target: "_blank"}
                  %img{src: "bbs.png", rel: "popover", data: {content: "Big Blue Sound is an independent recording studio that focuses on creative recording techniques and sound production", "original-title" => "Big Blue Sound"}}
                %br
                
                %a{href: "http://bigbluesound.com", target: "_blank"}
                  %h3 Big Blue Sound
                