!!!
%html
  %head
    %title Brandon Hilkert [dot] com
    %meta{property: "desription", content: "I'm a Technology Entrepreneur and have a passion for building something from nothing. I'm motivated by people with purpose and ambition that have a continuing drive to learn and succeed."}
    %link{:rel => "shortcut icon", href: "favicon.ico"}
    %link{:rel => "stylesheet", :type => "text/css", href: "style.css"}
    %link{:rel => "stylesheet", :type => "text/css", href: "http://fonts.googleapis.com/css?family=Open+Sans&subset=latin"}
    %link{:rel => "stylesheet", :type => "text/css", href: "http://fonts.googleapis.com/css?family=Cabin+Sketch&subset=latin"}

    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-24469169-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  %body
    .centered
      #heading.rounded
        .picture
          %img{src: "brandonhilkert.png", class: "drop-shadow rounded"}
          %br
          %a{href: "http://www.linkedin.com/in/brandonhilkert", target: "_blank"}
            %img{src: "linkedin.png"}
          %a{href: "http://www.twitter.com/brandonhilkert", target: "_blank"}
            %img{src: "twitter.png"}
          %a{href: "https://github.com/brandonhilkert", target: "_blank"}
            %img{src: "github.png"}
        .text
          %h1 Brandon Hilkert
          %div
            I'm a Father, Husband,
            %a{href: "http://meeteor.com", target: "_blank"} Entrepreneur,
            %a{href: "http://www.10gen.com/presentations/mongodb-philly/2012/mongodb-at-meeteor", target: "_blank"} Speaker,
            and
            %a{href: "http://online.wsj.com/article/SB10001424052702303815404577336603334928584.html", target: "_blank"} Developer
            and have a passion for building something from nothing.
            I'm motivated by people with purpose and ambition that have a continuing drive to learn and succeed.
            I tend to use Ruby, Rails, Sinatra, Postgres, Redis, Memcached, MongoDB, Heroku, EC2, Javascript, HTML, and CSS.
            %br
            %br
            You can also hear me in
            %a{href: "http://itunes.apple.com/us/artist/i-am-lightning/id497858713", target: "_blank"} I Am Lightning,
            %a{href: "http://itunes.apple.com/us/artist/the-solitary-system/id268403752", target: "_blank"} The Solitary System,
            and
            %a{href: "http://itunes.apple.com/us/artist/rarae-avis/id7673865", target: "_blank"} Rarae Avis.
          %br.clear
        %br.clear
      #sites.rounded

        .site
          %img{src: "spokely.png"}
          %h3 Spokely
          .description
            Behind every friend is a great network. Spokely is the only professional service that gets you the help you need from your friends and their network.

        .site.pad
          %img{src: "meeteor.png"}
          %h3 Meeteor
          .description
            Meeteor is a professional networking service built on top of Facebook that connects you to the employers and industries you're interested in.

        .site
          %img{src: "simpletext.png"}
          %a{href: "http://simpletext.me", target: "_blank"}
            %h3 SimpleText.me
          .description
            SimpleText.me is the simplest way to send text messages to a group and notify users on the go.

        %br.clear

        .site
          %img{src: "instashow.png"}
          %a{href: "http://instashow.me", target: "_blank"}
            %h3 Instashow.me
          .description
            Instashow.me is an application that creates a shareable slideshow from your Instagram pictures that you can proudly show your Mom. Errrr...unless there's pictures that are inappropriate.

        .site.pad
          %img{src: "defriendnotifier.png"}
          %a{href: "http://defriendnotifierapp.com", target: "_blank"}
            %h3 Defriend Notifier
          .description
            Defriend Notifier is an application that notifies you when via email when someone unfriends you on Facebook. Don't be caught by surprise when you can no longer find that "friend" you've been looking for.

        .site
          %img{src: "links.png"}
          %a{href: "http://links.brandonhilkert.com", target: "_blank"}
            %h3 Link Saver
          .description
            Saving links from devices is a simple task, so I created a simple app to accomplish the task.

        %br.clear

        .site
          %img{src: "wouldyouusethis.png"}
          %a{href: "http://www.wouldyouusethis.org", target: "_blank"}
            %h3 Would You Use This?
          .description
            Validating an idea is hard. The only way to know if your idea will be useful is to gather feedback from potential customers. Would you use this? is a tool to help aggregate that feedback.

        .site.pad
          %img{src: "seopopular.png"}
          %a{href: "http://bh-seopopular.herokuapp.com", target: "_blank"}
            %h3 SEO-Popular
          .description
            There are a ton of tools out there to determine the frequency of search terms, but far less to determine the opposite - the popularity of content. This is a simple tool that takes user input and plots the frequency of the desired content over the past 2 years.

        .site
          %img{src: "grocery.png"}
          %a{href: "http://bh-grocery.herokuapp.com", target: "_blank"}
            %h3 Grocery.me
          .description
            Ever get to the grocery store and realized you forgot the list? Sure there's plenty of complicated alternatives, but this simple app lets you collaborate with other people on a simple list. Share the list URL with a friend and never go disappointed again!

        %br.clear

        .site
          %img{src: "rock.png"}
          %a{href: "http://rock.herokuapp.com", target: "_blank"}
            %h3 Rock, Paper, Scissors
          .description
            Have some more time to waste? Rock (no pun intended) some Rock, Paper, Scissors with Sinatra and bit of Bootstrap for extra spice. Don't let your boss catch you though...


        .site.pad
          %img{src: "damn.png"}
          %a{href: "http://bh-dyac.herokuapp.com/", target: "_blank"}
            %h3 Best of DYAC
          .description
            Have some time to waste? Damn You Auto Correct! has great screenshots of epic text conversations where iOS auto correct has thrown the conversation an unexecpted curveball.

        .site
          %img{src: "stradl.png"}
          %h3 Stradl
          .description
            Stradl was a management platform dedicated to streamlining targeted advertising campaigns for digital signage allowing users to pinpoint a time and place their media was presented.

        %br.clear

        .site
          %img{src: "sisi.png"}
          %h3 Shop it. Share it.
          .description
            Shop it. Share it. is a social network focused around shopping and the sharing of fashion related purchases allowing users to show off recent purchased, along with getting feedback on your latest and greatest.

        .site.pad
          %img{src: "databanks.png"}
          %h3 Databanks
          .description
            Databanks was a marketplace for consumer datasets allowing users to not only find datasets on extraneous subjects, but sell publicly available, but hard to find datasets, resulting in financial paybacks for the dataset supplier.

        .site
          %img{src: "helpdesk.png"}
          %h3 Simple Helpdesk
          .description
            Simple Helpdesk is a simplified helpdesk management system with analytics and ticket monitoring dashboards. Most helpdesk solutions are bloated with complexity and Simple Helpdesk took the most basic details allowing users to submit tickets without the added burden.

        %br.clear

        .site
          %a{href: "http://bigbluesound.com", target: "_blank"}
            %img{src: "bbs.png"}
          %a{href: "http://bigbluesound.com", target: "_blank"}
            %h3 Big Blue Sound
          .description
            Big Blue Sound is an independent recording studio in Chester County, PA that focuses on creative recording techniques while extracting the the organic sounds of a band's live sound.

        %br.clear
