!!!
%html
  %head
    %title Brandon Hilkert [dot] com
    %meta{property: "desription", content: "I'm a Technology Entrepreneur and have a passion for building something from nothing. I'm motivated by people with purpose and ambition that have a continuing drive to learn and succeed."}
    %link{:rel => "shortcut icon", href: "favicon.ico"}
    %link{:rel => "stylesheet", :type => "text/css", href: "style.css"}
    %link{:rel => "stylesheet", :type => "text/css", href: "http://fonts.googleapis.com/css?family=Open+Sans"}
    %link{:rel => "stylesheet", :type => "text/css", href: "http://fonts.googleapis.com/css?family=Lobster"}
    %link{:rel => "stylesheet", :type => "text/css", href: "http://fonts.googleapis.com/css?family=Cabin+Sketch"}
    
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-24469169-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

      $(function(){
        $("img[rel='popover']").popover({placement: 'top'});
      });
  %body
    .centered
      #heading.rounded
        .picture
          %img{src: "brandonhilkert.jpg", class: "drop-shadow rounded"}
          %br
          %a{href: "http://www.linkedin.com/in/brandonhilkert", target: "_blank"}
            %img{src: "linkedin.png"}
          %a{href: "http://www.twitter.com/brandonhilkert", target: "_blank"}
            %img{src: "twitter.png"}          
          %a{href: "https://github.com/brandonhilkert", target: "_blank"}
            %img{src: "github.png"}
        .text
          %h1 Brandon Hilkert
          %div
            Co-founder at 
            %a{href: "http://meeteor.com", target: "_blank"} Meeteor
            %br
            %br
            I'm an 
            %a{href: "http://meeteor.com", target: "_blank"} Entrepreneur,
            %a{href: "http://speakerdeck.com/u/brandonhilkert", target: "_blank"} Speaker,
            and
            %a{href: "http://online.wsj.com/article/SB10001424052702303815404577336603334928584.html", target: "_blank"} Developer
            and have a passion for building something from nothing. 
            I'm motivated by people with purpose and ambition that have a continuing drive to learn and succeed.
            I tend to use Ruby, Rails, Sinatra, MongoDB, MySQL, Heroku, EC2, Javascript, jQuery, HTML, and CSS.
            %br
            %br
            You can also hear me in  
            %a{href: "http://itunes.apple.com/us/artist/i-am-lightning/id497858713", target: "_blank"} I Am Lightning, 
            %a{href: "http://itunes.apple.com/us/artist/the-solitary-system/id268403752", target: "_blank"} The Solitary System,
            and
            %a{href: "http://itunes.apple.com/us/artist/rarae-avis/id7673865", target: "_blank"} Rarae Avis.
          %br.clear
        %br.clear
      #sites.rounded

        .site
          %img{src: "meeteor.png"}
          %a{href: "http://meeteor.com", target: "_blank"}
            %h3 Meeteor
          .description
            Meeteor is a professional networking service built on top of Facebook that connects you to the employers and industries you're interested in.


        .site.pad
          %img{src: "defriendnotifier.png"}
          %a{href: "http://defriendnotifierapp.com", target: "_blank"}
            %h3 Defriend Notifier
          .description
            Defriend Notifier is an application that notifies you when via email when someone unfriends you on Facebook. Don't be caught by surprise when you can no longer find that "friend" you've been looking for.
          
        .site
          %img{src: "rock.png"}
          %a{href: "http://rock.herokuapp.com", target: "_blank"}
            %h3 Rock, Paper, Scissors
          .description
            Have some time to waste? Rock (no pun intended) some Rock, Paper, Scissors with Sinatra and bit of Bootstrap for extra spice. Don't let your boss catch you though...

        %br.clear  

        .site
          %img{src: "stradl.png"}
          %h3 Stradl
          .description
            Stradl was a management platform dedicated to streamlining targeted advertising campaigns for digital signage allowing users to pinpoint a time and place their media was presented.
          
        .site.pad
          %a{href: "http://shopitshareit.com", target: "_blank"}
            %img{src: "sisi.png"}
          %a{href: "http://shopitshareit.com", target: "_blank"}
            %h3 Shop it. Share it.
          .description
            Shop it. Share it. is a social network focused around shopping and the sharing of fashion related purchases allowing users to show off recent purchased, along with getting feedback on your latest and greatest.
          
        .site
          %img{src: "databanks.png"}
          %h3 Databanks
          .description
            Databanks was a marketplace for consumer datasets allowing users to not only find datasets on extraneous subjects, but sell publicly available, but hard to find datasets, resulting in financial paybacks for the dataset supplier.

        %br.clear

        .site
          %img{src: "helpdesk.png"}
          %h3 Simple Helpdesk
          .description
            Simple Helpdesk is a simplified helpdesk management system with analytics and ticket monitoring dashboards. Most helpdesk solutions are bloated with complexity and Simple Helpdesk took the most basic details allowing users to submit tickets without the added burden.

        .site
          %a{href: "http://bigbluesound.com", target: "_blank"}
            %img{src: "bbs.png"}
          %a{href: "http://bigbluesound.com", target: "_blank"}
            %h3 Big Blue Sound
          .description
            Big Blue Sound is an independent recording studio in Chester County, PA that focuses on creative recording techniques while extracting the the organic sounds of a band's live sound.

        %br.clear
                