* {
  margin: 0;
  padding: 0;
}

body {
  background: url(background.jpg) top center fixed #ffffff;
  color: #444;
  font-family: 'Open Sans',Tahoma,Arial,sans-serif;
  font-size: 14px;
  position: relative;
}

.centered {
  margin: 0 auto;
  text-align: left;
  width: 650px;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clear {
  clear: both;
}

.drop-shadow {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.rounded {
  border-radius: 5px;
  moz-border-radius: 5px;
  webkit-border-radius: 5px;
}

img {
  border: 0;
}

a {
  color: #444;
  text-decoration: none;
}

a:hover {
  color: red;
  cursor: pointer;
  text-decoration: underline;
}

#heading, #sites {
  background: #fff;
  margin: 1em 0;
  padding: 1em;
}

#heading a {
  color: #334e79;
}

#heading .picture {
  float: left;
}

#heading .text {
  float: right;
  text-align: right;
  width: 380px;
}

#heading .text h1 {
  clear: both;
  font-size: 52px;
  font-family: 'Cabin Sketch';
  margin-bottom: 5px;
}

#sites .site {
  width: 190px;
  float: left;
  margin-bottom: 30px;
  text-align: center;
}

#sites .pad {
  margin-left: 20px;
  margin-right: 20px;
}

#sites .site h3 {
  margin-bottom: 10px;
}

#sites .site .description {
  font-size: 12px;
}


#sites img {
  margin-bottom: 10px;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  moz-border-radius: 2px;
  moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  webkit-border-radius: 2px;
  webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

